*/__pycache__
**/__pycache__
*.pyc
**.pyc
c_training/cluster_logs
c_training/lightning_checkpoints
c_training/hsami_checkpoints_*
c_training/scripts/slurm-*.out
c_training/lightning_logs
c_training/hsami_checkpoints
d_analysis/figures
artifacts

.venv
.vscode
.agent
a_datasets/celeba_color/*
a_datasets/mpi3d/*
a_datasets/dsprites/*
*.toml
pyrightconfig.json
wandb